
.footer-wrp{
	padding-top: 130px;
	border-top: 22px solid #FCF9F7;
}


.ftr-top{
	padding-bottom: 50px;
}

.ftr-top-inr{
	display: flex;
}

.ftr-menu{
	float: left;
}
.ftr-col-1{
	width: 33.3333%;
	order: 1;
}
.ftr-col-2{
	width: 33.3333%;
	order: 3;
	text-align: right;
}
.ftr-logo{
	margin: 0 auto;
	order: 2;
	text-align: center;
}

.ftr-logo-inr a{
	display: inline-block;
	vertical-align: baseline;
}

.ftr-logo-btn{
	margin-top: 35px;
}
.ftr-logo-btn a{
	width: 238px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #E48AA4;
	background: transparent;
	font-size: 16px;
	color: #E48AA4;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.ftr-logo-btn a:hover{
	background: #E48AA4;
	color: #fff;
}

.ftr-menu-title{
	display: block;
	font-size: 16px;
	line-height: 1;
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #212529;
	letter-spacing: -0.02em;
	text-transform: uppercase;
}

.ftr-menu-des ul li{
	padding-bottom: 15px;
}
.ftr-menu-des ul li a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	color: #525A61;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.ftr-menu-des ul li a:hover{
	color: #E48AA4;
}


.ftr-location{
	padding-bottom: 20px;
}
.ftr-email{
	padding-bottom: 15px;
}
.ftr-phone{
	padding-bottom: 20px;
}
.ftr-location a,
.ftr-email a,
.ftr-phone a,
.ftr-phone span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	color: #525A61;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.ftr-email a{
	border-bottom: 2px solid #E48AA4;
}
.ftr-phone span{
	border-bottom: 2px solid #E48AA4;
}
.ftr-phone a{
	margin-left: 5px;
}

.ftr-social-media{
	padding-bottom: 28px;
}
.ftr-social-media ul{
	margin-right: -12px;
	margin-left: -12px;
}
.ftr-social-media ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 0
}
.ftr-social-media ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #525A61;
}
.ftr-location a:hover,
.ftr-email a:hover,
.ftr-phone a:hover,
.ftr-social-media ul li a:hover{
	color: #E48AA4;
}
.ftr-vat span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	color: #525A61;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}


.ftr-btm-inr{
	padding-top: 50px;
	padding-bottom: 50px;
	border-top: 2px solid #FCF9F7;
	display: flex;
}

.ftr-btm-menu{
	margin: 0 auto;
}

.ftr-copywrite p{
	margin-bottom: 0;
}

.ftr-btm-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}
.ftr-btm-menu ul li:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	width: 5px;
	height: 2px;
	background: #525A61;
}
.ftr-btm-menu ul li:first-child:after{
	content: none;
}
.ftr-btm-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #525A61;
}
.ftr-btm-menu ul li a:hover,
.ftr-designby a:hover{
	color: #E48AA4;
}

.ftr-designby a{
	display: inline-block;
	vertical-align: baseline;
	color: #525A61;
}


@media(max-width: 1599px){
	
}

@media(max-width: 1399px){
	
}

@media(max-width: 1299px){
	
}

@media(max-width: 1199px){
	.footer-wrp{
		padding-top: 110px;
	}

}

@media(max-width: 991px){
	.ftr-menu-title{
		font-size: 14px;
	}
	.ftr-location a, 
	.ftr-email a, 
	.ftr-phone a, 
	.ftr-phone span,
	.ftr-vat span,
	.ftr-menu-des ul li a{
		font-size: 13px;
	}
	.footer-wrp{
		padding-top: 100px;
	}
	.ftr-copywrite p,
	.ftr-btm-menu ul li a,
	.ftr-designby a{
		font-size: 12px;
	}
	
}

@media(max-width: 767px){
	.ftr-top-inr {
	    display: block;
	}
	.ftr-col-1{
		width: 100%;
		text-align: center;
	}
	.ftr-col-2{
		width: 100%;
		text-align: center;
	}
	.ftr-logo-btn{
		display: none;
	}
	.ftr-logo{
		padding-bottom: 20px;
	}
	.ftr-menu-title {
		display: inline-block;
		vertical-align: baseline;
	    font-size: 16px;
	    margin-bottom: 20px;
	    position: relative;
	}
	.ftr-menu-title:after{
		content: "\f107"!important;
	    font-family: 'Font Awesome 5 Free';
	    font-weight: 600;
	    text-decoration: inherit;
	    color: #212529;
	    font-size: 22px;
	    padding-right: 0;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    right: -25px;
	    line-height: 15px;
	}
	.ftr-menu-title.active:after{
		content: "\f106"!important;
	}
	.ftr-email a,
	.ftr-phone span{
		border-bottom: none;
	}
	.ftr-menu-des{
		display: none;
	}
	.ftr-btm-inr{
		padding-top: 0;
		padding-bottom: 30px;
		border-top: none;
		display: block;
	}
	.ftr-copywrite{
		text-align: center;
		padding-bottom: 10px;
	}
	.ftr-btm-menu{
		text-align: center;
		padding-bottom: 10px;
	}
	.ftr-designby{
		text-align: center;
	}
	.ftr-designby a{
		color: #C9C9C9;
	}
	.ftr-top {
	    padding-bottom: 20px;
	}
	.ftr-social-media {
	    padding-bottom: 0;
	    text-align: center;
	    margin-bottom: 30px;
	    position: relative;
	}
	.ftr-social-media:before{
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		width: 82px;
		height: 2px;
		background: #FCF9F7;
	}
	.ftr-social-media:after{
		content: "";
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		width: 82px;
		height: 2px;
		background: #FCF9F7;
	}
	.footer-wrp{
		padding-top: 80px;
	}
	
}

@media(max-width: 575px){
	.footer-wrp{
		padding-top: 60px;
	}

}

@media(max-width: 479px){
	.footer-wrp{
		padding-top: 50px;
	}

}

@media(max-width: 359px){
	.ftr-copywrite p,
	.ftr-btm-menu ul li a,
	.ftr-designby a{
		font-size: 13px;
	}
}