.banner{

}
.banner-cntlr{
	display: flex;
	align-items: center;
	padding-bottom: 140px;
}
.bnr-lft-cntlr{
	width:  59.42%;
	position: relative;
}
.bnr-lft{
	overflow: hidden;
	height: 725px;
}
.bnr-lft:hover .bnr-lft-img{
	transform: scale(1.071);
	-ms-transform: scale(1.071);
	-webkit-transform: scale(1.071);
	-o-transform: scale(1.071);
}
.bnr-lft-img{
	height: 100%;
	width: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	z-index: 2;
}
.bnr-lft-top-img{
	position: absolute;
	top: 53px;
	left: -80px;
	height: 82px;
	z-index: 2;
}
.bnr-rt-btm-sqr{
	position: absolute;
	bottom: -40px;
	right: -40px;
	height: 82px;
	width: 90px;
	border: 12px solid #e795ac;
	z-index: -1;
}
.bnr-right{
	display: flex;
	align-items: center;
	padding-left: 85px;
	width: 40.98%;
}
.bnr-rt-desc{
	margin-right: -110px;
}
.bnr-rt-desc-title{
	
}
.bnr-rt-desc-sub-title{
	color: #E48AA4;
}
.bnr-rt-desc p{
	margin-bottom: 20px;
}
.bnr-rt-desc-btn{
	margin: 0 -7px;
	display: flex;
	align-items: center;
}
.bnr-rt-desc-btn > a{
	
	margin: 0 7px;
}
.bnr-rt-desc-btn .brd-2nd-btn{
	width: 143px;
	border-color: #525A61;
	color: #525A61;
}