.banner{

}
.banner-cntlr{
	display: flex;
	align-items: center;
	padding-bottom: 140px;
}
.bnr-lft-cntlr{
	width:  59.42%;
	position: relative;
}
.bnr-lft{
	overflow: hidden;
	height: 725px;
}
.bnr-lft:hover .bnr-lft-img{
	transform: scale(1.071);
	-ms-transform: scale(1.071);
	-webkit-transform: scale(1.071);
	-o-transform: scale(1.071);
}
.bnr-lft-img{
	height: 100%;
	width: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	z-index: 2;
}
.bnr-lft-top-img{
	position: absolute;
	top: 53px;
	left: -80px;
	z-index: 2;
	background: #FCF9F7;
}
.bnr-rt-btm-sqr{
	position: absolute;
	bottom: -40px;
	right: -40px;
	height: 82px;
	width: 90px;
	border: 12px solid #e795ac;
	z-index: -1;
}
.bnr-right{
	display: flex;
	align-items: center;
	padding-left: 85px;
	width: 40.98%;
}
.bnr-rt-desc{
	margin-right: -110px;
}
.bnr-rt-desc-title{
	
}
.bnr-rt-desc-sub-title{
	color: #E48AA4;
}
.bnr-rt-desc p{
	margin-bottom: 20px;
}
.bnr-rt-desc-btn{
	margin: 0 -7px;
	display: flex;
	align-items: center;
}
.bnr-rt-desc-btn > a{
	
	margin: 0 7px;
}
.bnr-rt-desc-btn .brd-2nd-btn{
	width: 143px;
	border-color: #525A61;
	color: #525A61;
}



.industry-sec{
}
.industry-cntlr{
	text-align: center;
	color: #fff;
	padding: 87px 20px;
	position: relative;
}
.industry-cntlr:after{
	position: absolute;
	content: "";
	width: 33.92%;
	height: 12px;
	background: #EDAAC1;
	right: 90px;
	top: 0;
	transform: translateY(-50%);
}
.industry-title{
	margin-bottom: 5px;
}
.industry-cntlr p{

}
.industry-btn .fl-trnsprnt-btn{
	margin: 0 auto;
	width: 180px;
	color: #fff;
	border-color: #fff;
}
.industry-btn .fl-trnsprnt-btn:hover{
	background: #fff!important;
	border-color: #fff!important;
	color: #E48AA4!important;
}

.about-us-sec{
	background: #fdf9f8;
	padding-top: 85px;
}
.about-us-cntlr{

}
.about-us-desc-cntlr{
	position: relative;
	z-index: 6;
}
.about-us-desc{
	max-width: 831px;
	width: 100%;
	background: #fff;
	margin-left: auto;
	padding: 150px 90px 75px 115px;
	position: relative;
	z-index: 2;
}
.about-us-desc-title{
	position: absolute;
	line-height: 1;
	left: -143px;
	top: 62px;
}
.about-us-img-module{
	margin: 0 -35px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin-top: -212px;
}
.abus-img-mdul-col{
	padding: 0 35px;
}
.abus-img-mdul-left-cntlr{
	width:  47.68%;
}
.abus-img-mdul-left{
	height: 775px;
	position: relative;
}
.abus-imgmdlft-sqr{
	position: absolute;
	content: "";
	height: 310px;
	width: 177px;
	background: #E48AA4;
	opacity: 0.9;
	backdrop-filter: blur(80px);
	bottom: -24px;
	right: -137px;
	z-index: 3;
}
.abus-img-mdul-left-img{
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 4;
}
.abus-img-mdul-rt-cntlr{
	width:  52.32%;
	position: absolute;
	right: 0;
	bottom: 145px;
}
.abus-img-mdul-rt{
	height: 363px;
}
.abus-img-mdul-rt-img{
	height: 100%;
	width: 100%;
}




.images-sec{
	min-height: 690px;
	margin-top: -50px;
}

.residents-sec{
	padding-top: 96px;
	background: #fdf9f8;
}
.residents-cntlr{
	position: relative;
}
.residents-cntlr:after{
	content: none;
}
.residents-rt-top-sqr{
	position: absolute;
	top: 54px;
	right: -56px;
	height: 82px;
	width: 90px;
	border: 12px solid #e795ac;
	z-index: -1;
}
.residents-btn .fl-trnsprnt-btn{
	width: 280px;
}