.slick-slider ul.slick-dots{
	position: static;
	height: 16px;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 12px!important;
	height: 12px!important;
	position: static;
	background: #E9E9E9!important;
	border-radius: 100% 100%!important;
	margin: 0 6px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #EA407A!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 12px;
	height: 12px;
}


.fl-prev{
	position: absolute;
	left: 0;
	top: 50%!important;
	transform: translateY(-50%)!important;
	-webkit-transform: translateY(-50%)!important;
	-ms-transform: translateY(-50%)!important;
	width: 50px;
	height: 50px;
	background: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.fl-next{
	position: absolute;
	right: 0;
	top: 50%!important;
	transform: translateY(-50%)!important;
	-webkit-transform: translateY(-50%)!important;
	-ms-transform: translateY(-50%)!important;
	width: 50px;
	height: 50px;
	background: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

.fl-prev:hover svg{
	fill: #E0861A;
}
.fl-next:hover svg{
	fill: #E0861A;
}
.fl-prev.slick-disabled,
.fl-next.slick-disabled{
	opacity: 0.5;
}

.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}