





.verblijf-slider-ctlr{
	position: relative;
	padding-bottom: 50px;
}
.verblijf-slider-ctlr .fl-prev{
	margin-top: -70px;
	left: 20px;
}
.verblijf-slider-ctlr .fl-next{
	margin-top: -70px;
	right: 20px;
}

.verblijf-slider-ctlr .slick-slider ul.slick-dots{
	position: absolute;
	bottom: 20px;
}
.verblijf-single-slide-item-img{
	min-height: 540px;
}



.verblijf-single-slider-nav{
	margin-left: -12px;
	margin-right: -12px;
}
.verblijf-single-slide-nav-item{
	padding-left: 12px;
	padding-right: 12px;
}


.verblijf-slider-ctlr.verblijf-single-slide-item{
	display: none!important;
}
.verblijf-slider-ctlr.verblijf-single-slide-item:first-child{
	display: block!important;
}
.verblijf-slider-ctlr.slick-initialized.verblijf-single-slide-item{
	display: block!important;
}

.verblijf-slider-ctlr.verblijf-single-slide-nav-item{
	display: none!important;
}
.verblijf-slider-ctlr.verblijf-single-slide-nav-item:first-child{
	display: block!important;
}
.verblijf-slider-ctlr.slick-initialized.verblijf-single-slide-nav-item{
	display: block!important;
}