


.verblijf-con{
	padding-top: 80px;
	padding-bottom: 150px;
}


.verblijf-slider-ctlr{
	position: relative;
	padding-bottom: 50px;
}
.verblijf-slider-ctlr .fl-prev{
	margin-top: -70px;
	left: 20px;
}
.verblijf-slider-ctlr .fl-next{
	margin-top: -70px;
	right: 20px;
}

.verblijf-slider-ctlr .slick-slider ul.slick-dots{
	position: absolute;
	bottom: 20px;
}
.verblijf-single-slide-item-img{
	min-height: 540px;
}



.verblijf-single-slider-nav{
	margin-left: -12px;
	margin-right: -12px;
}
.verblijf-single-slide-nav-item{
	padding-left: 12px;
	padding-right: 12px;
}


.verblijf-slider-ctlr.verblijf-single-slide-item{
	display: none!important;
}
.verblijf-slider-ctlr.verblijf-single-slide-item:first-child{
	display: block!important;
}
.verblijf-slider-ctlr.slick-initialized.verblijf-single-slide-item{
	display: block!important;
}

.verblijf-slider-ctlr.verblijf-single-slide-nav-item{
	display: none!important;
}
.verblijf-slider-ctlr.verblijf-single-slide-nav-item:first-child{
	display: block!important;
}
.verblijf-slider-ctlr.slick-initialized.verblijf-single-slide-nav-item{
	display: block!important;
}



.vl-ctlr .fl-dft-overflow-controller{
	padding-top: 20px;
}

.vl-ctlr .dfp-tbl-wrap{
	padding-top: 50px;
}
.vl-ctlr hr{
	margin-top: 30px;
	margin-bottom: 70px;
}


.dfp-googlemp{
	margin-top: 20px;
	margin-bottom: 50px;
}
.dfp-googlemp iframe{
	width: 100%;
	height: 400px;
}


@media(max-width: 991px){
	.verblijf-single-slide-item-img {
	    min-height: 450px;
	}
	.verblijf-con{
		padding-top: 70px;
		padding-bottom: 120px;
	}
}
@media(max-width: 767px){
	.verblijf-single-slide-item-img {
	    min-height: 400px;
	}
	.verblijf-single-slider-nav{
		display: none;
	}
	.verblijf-slider-ctlr .slick-slider ul.slick-dots {
	    bottom: -50px;
	}
	.verblijf-slider-ctlr .fl-prev{
		display: none;
	}
	.verblijf-slider-ctlr .fl-next{
		display: none;
	}
	.verblijf-con{
		padding-top: 55px;
		padding-bottom: 80px;
	}
	.verblijf-con-inr .fl-dft-lftimg-rgtdes{
		padding-bottom: 30px;
	}
	.vl-ctlr hr {
		margin-bottom: 50px;
	}
	.verblijf-con-inr .gallery-wrap{
		padding-bottom: 10px;
	}
}
@media(max-width: 575px){
	.verblijf-single-slide-item-img {
	    min-height: 350px;
	}
	.dfp-googlemp iframe{
		height: 320px;
	}
	.dfp-googlemp {
	    margin-top: 15px;
	    margin-bottom: 30px;
	}
	.verblijf-con{
		padding-top: 40px;
		padding-bottom: 30px;
	}
	.verblijf-con-inr .vl-ctlr .fl-dft-overflow-controller{
		padding-top: 10px;
	}
	.verblijf-con-inr .fl-dft-lftimg-rgtdes{
		padding-bottom: 20px;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
		padding-right: 15px!important;
	}
	.verblijf-con-inr .dfp-tbl-wrap{
		padding-top: 30px;
	}
	.vl-ctlr hr {
		margin-bottom: 40px;
	}
	.verblijf-con-inr .gallery-wrap{
		padding-bottom: 0;
	}
	.fl-dft-lftimg-rgtdes-rgt,
	.fl-dft-lftimg-rgtdes-rgt{
		padding-bottom: 0!important;
	}
}
@media(max-width: 479px){
	.verblijf-single-slide-item-img {
	    min-height: 311px;
	}
	.verblijf-con{
		padding-top: 25px;
		padding-bottom: 0;
	}
	.verblijf-con-inr .fl-dft-lftimg-rgtdes{
		padding-bottom: 10px;
	}
	.vl-ctlr hr {
		margin-bottom: 30px;
	}
}
